@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  background: hsl(212, 45%, 89%);
  margin: 0;
}

.home {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 345px;
  background: hsl(0, 0%, 100%);
  border-radius: 30px;
  text-align: center;
  margin-inline: 2rem;
}

.text {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-inline: 30px;
  font-family: 'Outfit', sans-serif;
}

.text h2 {
  margin-block-start: 0;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

.text p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
}

img {
  box-sizing: border-box;
  width: 100%;
  border-radius: 35px;
  padding: 20px;
}

.attribution {
  box-sizing: border-box;
  display: block;
  padding: 20px;
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
